body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* Un gris très clair/bleuté moderne */
  color: #1e293b;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Style de transition général pour tous les boutons de l'appli */
button {
  transition: all 0.2s ease-in-out;
}

button:active {
  transform: scale(0.98);
}